body {
    padding-top: 80px;
}

.breadcrumb {
    top: 40px;
    position: fixed;
}

.pic-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pic-modal-body {
    max-height: 100%;
}

.pic-container {
    overflow: auto;
}

.input-4digits {
    font-size: 8pt;
    width: 65px;
}

.input-2digits {
    font-size: 8pt;
    width: 50px;
}
.input-1digit {
    font-size: 8pt;
    width: 45px;
}

.pic-info-rw {
    display: none;
}

.modal-body {
    overflow-y: visible;
}

#modal-pic-template .modal-body {
    min-height: 480px;
}

#thumbnails {
    padding: 0px;
    overflow: auto;
}

.thumb {
    float: left;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.thumb img {
    display: block;
}

.thumb-toolbar {
    margin-right: 30px;
    line-height: 40px;
}

.thumb-toolbar .thumb-toolbar-item {
    margin-right: 8px;
}

.thumb-select {
    margin-top: -50px;
    margin-left: 7px;
}

.dir {
    text-align: center;
    width: 300px;
    height: 200px;
}

.dir img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.other-file-type {
    text-align: center;
    width: 300px;
    height: 200px;
}

.other-file-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagination-centered {
    text-align: center;
}

#progress-container {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#nothing-here {
    text-align: center;
    font-size: 14pt;
}

.tag-container {
    float: left;
    margin: 4px 4px 4px 4px;
    padding: 1px;
    padding-right: 4px;
    padding-left: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}
