body {
    padding-top: 80px;
}

.breadcrumb {
    top: 40px;
    position: fixed;
}

.dir {
    text-align: center;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.other-file-type {
    text-align: center;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.dir img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.thumb {
    margin: 5px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-body {
  max-height: 100%;
}

.pic-container {
    overflow: auto;
}

.input-4digits {
    font-size: 8pt;
    width: 65px;
}

.input-2digits {
    font-size: 8pt;
    width: 50px;
}
.input-1digit {
    font-size: 8pt;
    width: 45px;
}

.pic-info-rw {
    display: none;
}

.thumbnails-container {
    margin: 5px;
}
